de.xwic.sandbox.server/web_root/config/demoapp/editors/editor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editor" type="editorType"/>
  <xs:complexType name="styleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="labelType" name="label"/>
      <xs:element type="textType" name="text"/>
      <xs:element type="plComboType" name="plCombo"/>
      <xs:element type="dateType" name="date"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="title"/>
    <xs:attribute type="xs:string" name="layout"/>
    <xs:attribute type="xs:string" name="cols"/>
    <xs:attribute type="xs:string" name="template"/>
    <xs:attribute type="xs:string" name="colWidth"/>
  </xs:complexType>
  <xs:complexType name="templatesType">
    <xs:sequence>
      <xs:element type="styleType" name="style" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="mode" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="plComboType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="labelType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="mode" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="layoutType">
    <xs:sequence>
      <xs:element type="tabType" name="tab">
        <xs:annotation>
          <xs:documentation>The root node of an editor is always a tab...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="property" use="optional"/>
        <xs:attribute type="xs:string" name="template" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tabType">
    <xs:sequence>
      <xs:element type="compositeType" name="composite"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="title"/>
  </xs:complexType>
  <xs:complexType name="editorType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="entity"/>
      <xs:element type="templatesType" name="templates"/>
      <xs:element type="layoutType" name="layout">
        <xs:annotation>
          <xs:documentation>The layout</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compositeType">
    <xs:sequence>
      <xs:element type="groupType" name="group"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="layout"/>
    <xs:attribute type="xs:string" name="cols"/>
    <xs:attribute type="xs:string" name="style"/>
  </xs:complexType>
</xs:schema>